@use '../../styles/global.scss' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.hero {
  background-color: #000;
  @include tablet {
    padding-bottom: 2px;
  }
  &__video {
    height: 183px;
    width: 100%;
    margin: 0 0 0.5*$mobile-spacing 0;
    padding: 0;
    object-fit: cover;
    display: block;
    &::-webkit-media-controls-current-time-display {
      display: none;
    }
    @include mobile-large {
      min-height: 250px;
      max-width: 500px;
      margin: auto;
    }
    @include tablet {
      min-height: 400px;
      max-width: 700px;
    }
    @include desktop {
      min-height: 480px;
      max-width: 944px;
    }
    @include desktop-xl {
      width: 100%;
      min-height: 540px;
    }
  }
}