/* mobile-styling-start */
.comment {
  background-color: $white;
  margin: 2.5rem 1rem 0 1rem;

  &__title {
    @include mobile-header;
    margin: 0 0 32px 0;
  }

  &__image {
    background-image: url("../../assets/Images/Mohan-muruge.jpg");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    margin: 1.5rem 1rem 0 0;
  }

  &__name-container {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $mercury;
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    &--text {
      @include mobile-subheader;

      color: $silver;
      margin: 0 0 0.2rem 0;
    }
  }

  &__text-container {
    font-size: 0.8125rem;
    border: 1px solid $silver;
    border-radius: 0.25rem;
    width: 14rem;
    background-color: $alabaster;
    border-color: $silver;
    resize: none;
    &:focus {
      border: 2px solid $blue-light;
      outline-width: 0;
    }
    &--one {
      margin: 0 0 1rem 0;
      height: 6rem;
      padding: 0.625rem;
    }
  }

  &__button {
    background-color: $blue-light;
    border-style: none;
    height: 2.5rem;
    border-radius: 0.25rem;
    color: $white;
    text-align: center;
    width: 14rem;
    margin: 0 0 1.5rem 0;
    outline-width: 0;
    padding: 0;
    &:hover {
      background-color: $blue;
    }
  }
  &__default {
    border-bottom: 1px solid $mercury;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    &--image-one {
      height: 3rem;
      width: 3rem;
      background-color: $mercury;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      float: left;
      border-radius: 2rem;
      margin-top: 1.5rem;
    }
    &--name {
      color: $black;

      font-size: 0.8125rem;
      padding: 1.75rem 0 0 1rem;
      margin: 0;
    }
    &--date {
      color: $silver;

      font-size: 0.8125rem;
      margin: 0;
      padding: 1.75rem 0 0 0;
    }
  }

  &__text-container-default {
    display: flex;
    &--comment {
      word-wrap: break-word;
      width: 96%;
      color: $black;
      font-size: 0.8125rem;

      margin: 0;
      padding: 1rem 0 1.5rem 1rem;
    }
  }
}
/* mobile-styling-end */

/* tablet-styling-start */
@include medium {
  .comment {
    background-color: $white;
    margin: 4rem 1.5rem 0 1.5rem;

    &__title {
      margin: 0 0 2rem 0;
    }

    &__image {
      width: 3rem;
      height: 3rem;
      border-radius: 2rem;
      margin: 1.7rem 1.25rem 0 0;
    }

    &__name-container {
      display: flex;
      justify-content: center;
      border-bottom: 2px solid $mercury;
      padding-bottom: 1.5rem;
    }

    &__input-container {
      display: flex;
      flex-direction: row;
      &--text {
        color: $silver;
        font-size: 0.75rem;
        line-height: 1.25rem;
        margin: 0 0 0.5rem 0;
      }
    }

    &__input-text-container {
      display: flex;
      flex-direction: column;
    }

    &__text-container {
      font-size: 1rem;
      border: 1px solid $black;
      border-radius: 0.25rem;
      width: 27.5rem;
      background-color: $alabaster;
      border-color: $silver;
      resize: none;
      &:focus {
        border: 2px solid $blue-light;
        outline-width: 0;
      }
      &--one {
        margin: 0;
        height: 3rem;
        padding: 0.625rem 1rem 0 1rem;
      }
    }

    &__button-container {
      align-self: flex-end;
      margin: 0 2.5rem 0 1rem;
    }

    &__button {
      font-size: 1rem;
      background-color: $blue-light;
      border-style: none;
      height: 3rem;
      border-radius: 0.25rem;
      color: $white;
      text-align: center;
      width: 10rem;
      margin: 0;
      outline-width: 0;
      padding: 0;
      align-self: flex-end;
      &:hover {
        background-color: $blue;
      }
    }

    &__default-comment {
      display: flex;
      flex-direction: column;
    }

    &__header {
      position: relative;
      display: flex;
      justify-content: flex-start;
      &--image-one {
        position: absolute;
        height: 3rem;
        width: 3rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 2rem;
        margin-top: 1.5rem;
      }
      &--name {
        color: $black;

        font-size: 1rem;
        padding: 1.75rem 1rem 0 3.9375rem;
        margin: 0;
      }
      &--date {
        color: $silver;

        font-size: 1rem;
        margin: 0;
        padding: 1.75rem 0 0 0;
      }
    }

    &__text-container-default {
      display: flex;
      border-bottom: 1px solid $mercury;
      &--comment {
        color: $black;
        width: 42rem;
        font-size: 0.875rem;

        margin: 0;
        padding: 1rem 0 1.5rem 4rem;
      }
    }
  }
}
/* tablet-styling-end */

/* desktop-styling-start */
@include large {
  .comment {
    width: 712px;
    background-color: $white;
    margin: 4rem 0px 1.875rem 11.25rem;

    &__title {
      margin: 0 0 2rem 0;
    }

    &__image {
      width: 3rem;
      height: 3rem;
      border-radius: 2rem;
      margin: 1.7rem 1.25rem 0 0;
    }

    &__name-container {
      display: flex;
      justify-content: flex-start;
    }

    &__input-container {
      display: flex;
      &--text {
        color: $silver;
        font-size: 0.75rem;
        line-height: 1.25rem;
        margin: 0 0 0.5rem 0;
      }
    }

    &__input-text-container {
      display: flex;
      flex-direction: column;
    }

    &__text-container {
      font-size: 0.8125rem;
      border: 1px solid $silver;
      border-radius: 0.25rem;
      width: 436px;
      background-color: $alabaster;
      border-color: $silver;
      resize: none;
      &:focus {
        border: 1px solid $blue-light;
        outline-width: 0;
      }
      &--one {
        margin: 0;
        height: 3rem;
        padding: 0.625rem 1rem 0 1rem;
      }
    }

    &__button-container {
      align-self: flex-end;
      margin: 0 0 0 1rem;
    }

    &__button {
      font-size: 1rem;
      background-color: $blue-light;
      border-style: none;
      height: 3rem;
      border-radius: 0.25rem;
      color: $white;
      text-align: center;
      width: 10rem;
      outline-width: 0;
      padding: 0;
      align-self: flex-end;
      &:hover {
        background-color: $blue;
      }
    }
  }
}
/* desktop-styling-end */
