/* mobile-styling-start */
.upload {
  margin: 1.5rem 1rem 1.5rem 1rem;

  &__title {
    @include mobile-header;
    font-family: Avenir;
    font-weight: 700;
    margin: 0 0 2rem 0;
  }

  &__subtitle {
    @include mobile-labels;
    font-family: Avenir;
    color: $silver;
    margin: 0;
  }

  &__video {
    height: 153px;
    width: 288px;
    background-image: url("../../assets/Images/Upload-video-preview.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    border-radius: 0.3125rem;
    margin-bottom: 2rem;
  }
  &__input-container {
    display: flex;
    flex-direction: column;
    &--text {
      @include mobile-labels;
      font-family: avenir-de;
      color: $silver;
      margin: 0;
    }
  }
  &__text-container {
    font-family: avenir-regular;
    font-size: 0.8125rem;
    border: 1px solid $black;
    border-radius: 0.25rem;
    background-color: $alabaster;
    border-color: $silver;
    resize: none;
    padding: 0.75rem 0.625rem 0.625rem 1.125rem;

    &:focus {
      border: 2px solid $black;
      outline-width: 0;
    }
    &--one {
      margin: 0 0 1.5rem 0;
      height: 3rem;
    }
    &--two {
      margin: 0 0 2rem 0;
      height: 8.9375rem;
    }
  }

  &__button-container {
    display: flex;
    flex-direction: column;

    &--publish {
      @include mobile-paragraph;
      font-family: Avenir;
      background-color: $blue-light;
      border-style: none;
      height: 3.0313rem;
      border-radius: 0.25rem;
      color: $white;
      text-align: center;
      width: 288px;
      margin: 0 0 1.5rem 0;
      outline-width: 0;
      padding: 0;
      align-self: center;
      &:hover {
        background-color: $blue;
      }
    }
    &--cancel {
      @include mobile-paragraph;
      font-family: Avenir;
      border-style: none;
      height: 3.0313rem;
      border-radius: 0.25rem;
      outline-width: 0;
      color: $blue-light;
      background-color: $white;
    }
  }
}

/* mobile-styling-end */

/* tablet-styling-start */
@include medium {
  .upload {
    margin: 3rem 1.5rem;
    &__title {
      @include header-one;
      margin: 0;
      padding-bottom: 2rem;
      border-bottom: 1px solid $mercury;
    }
    &__subtitle {
      margin-top: 2.5rem;
    }
    &__video {
      height: 11.4375rem;
      width: 21.5rem;
      margin-bottom: 2.5rem;
    }
    &__text-container--two {
      margin-bottom: 2.5rem;
    }
    &__button-container {
      border-top: 1px solid $mercury;
      display: flex;
      flex-direction: row-reverse;
      padding: 2.5rem 0 0 0;

      &--cancel {
        padding: 0 3rem 0 0;
      }
      &--publish {
        margin: 0;
        width: 160px;
      }
    }
  }
}
/* tablet-styling-end */

/* desktop-styling-start */
@include large {
  .upload {
    margin: 3rem 11.25rem;
    &__big-container {
      display: flex;
      align-items: baseline;
      width: 67.5rem;
    }
    &__textarea-container {
      width: 100%;
    }
    &__video {
      margin: 0 24px 0 0;
    }
    &__text-container--two {
      height: 5.6875rem;
    }
    &__input-container {
      width: 44.5rem;
    }
    &__button-container {
      width: 67.5rem;
    }
    &__text-container {
      width: 100%;
    }
  }
}
