//media queries
$mobile-large: 440px;
$tablet: 768px;
$desktop: 1280px;
$desktop-xl: 1440px;
//spacing
$mobile-spacing: 16px;
$tablet-spacing: 24px;
$desktop-spacing: 40px;
$desktop-side-spacing: 160px;
$desktop-xl-side-spacing: 180px;
//colors
$black-primary: #323232;
$blue-primary: #0095ff;
$blue-hover: #0065ad;
$grey-light: #fafafa;
$grey-med: #e1e1e1;
$grey-dark: #afafaf;
