/* universal-reset */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir";
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* media query for mobile */
/* media query for tablet */
/* media query for landscape, medium pixel density desktops */
@font-face {
  font-family: "Avenir";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
/* mobile-styling-start */
.header {
  height: 10.5625rem;
  border-bottom: 1px solid #e1e1e1;
}
.header__main-container {
  margin: 0 1rem 1rem 1rem;
}
.header__logo-container {
  height: 3rem;
  display: flex;
  justify-content: center;
}
.header--link {
  height: 3rem;
  display: flex;
  justify-content: center;
}
.header__search-container {
  display: flex;
  height: 3.0313rem;
  align-items: center;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
  border-radius: 0.25rem;
}
.header__search-container--icon {
  padding: 0 0.625rem 0 1.25rem;
}
.header__search-container--search {
  text-decoration: none;
  font-family: "Avenir";
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
.header__upload-container {
  display: flex;
}
.header__upload-container-inner {
  display: flex;
  width: 14rem;
  height: 3.0313rem;
  background-color: #0095ff;
  margin: 1rem 1rem 0 0;
  border-radius: 0.25rem;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header__upload-container-inner:hover {
  background-color: #004892;
  cursor: pointer;
}
.header__upload-container-inner--icon {
  padding: 0 0.625rem 0 0;
}
.header__upload-container-inner--upload {
  font-family: "Avenir";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin: 0;
  color: #ffffff;
  border: none;
}
.header__upload-container--link {
  text-decoration: none;
}
.header__upload-container--picture {
  height: 3rem;
  width: 3rem;
  margin: 0.5rem 0 0 0;
  background-image: url("../../assets/Images/Mohan-muruge.jpg");
  background-position: left;
  background-size: cover;
  border-radius: 2rem;
}

/* mobile-styling-end */
/* tablet-styling-start */
@media only screen and (min-width: 768px) {
  .header {
    height: 5rem;
  }
  .header__main-container {
    height: 5rem;
    display: flex;
    align-items: center;
    margin: 0 1.5rem;
  }
  .header__logo-container {
    margin: 1rem 0;
    padding-right: 169px;
  }
  .header__search-container {
    margin: 1rem 0;
    width: 15.4375rem;
  }
  .header__upload-container {
    margin: 1rem 0;
    margin-left: auto;
  }
  .header__upload-container-inner {
    margin: 0 1rem;
  }
  .header__upload-container--picture {
    align-self: flex-end;
    margin: 0;
  }
}
/* tablet-styling-end */
/* desktop-styling-start */
@media only screen and (min-width: 1440px) {
  .header__main-container {
    margin: 0 11.25rem;
  }
  .header__logo-container {
    padding-right: 509px;
  }
  .header__search-container {
    width: 16.4375rem;
  }
}
/* desktop-styling-start */
/* mobile-styling-start */
.hero {
  height: 57.19vw;
}
.hero__video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__video:focus {
  outline-width: 0;
}

/* mobile-styling-end */
/* tablet-styling-start */
@media only screen and (min-width: 768px) {
  .hero {
    height: 25rem;
    background-color: black;
    text-align: center;
  }
  .hero__video {
    width: 43.75rem;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/* tablet-styling-end */
/* desktop-styling-start */
@media only screen and (min-width: 1440px) {
  .hero {
    height: 33.75rem;
  }
  .hero__video {
    width: 59rem;
  }
}
/* desktop-styling-end */
/* mobile-styling-start */
.main {
  margin: 2rem 1rem 2.5rem 1rem;
}
.main__title {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 0 1rem 0;
}
.main__subtitle-container {
  display: flex;
  margin-bottom: 2rem;
}
.main__subtitle-container--author {
  font-size: 0.875rem;
  line-height: 1.375rem;
  padding-right: 0.5rem;
  margin: 0;
}
.main__subtitle-container--date {
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #afafaf;
  margin: 0;
}
.main__views-likes-container {
  display: flex;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #e1e1e1;
}
.main__views-container {
  display: flex;
  margin-right: 1.5rem;
}
.main__views-container--icon {
  padding-right: 0.5rem;
}
.main__views-container--number {
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin: 0;
}
.main__likes-container {
  display: flex;
}
.main__likes-container--icon {
  padding-right: 0.5rem;
}
.main__likes-container--number {
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin: 0;
}
.main__description-container {
  margin-top: 1.5rem;
}
.main__description-container--text {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin: 0;
}

/* mobile-styling-end */
/* tablet-styling-start */
@media only screen and (min-width: 768px) {
  .main {
    margin: 3rem 1.5rem 4rem 1.5rem;
  }
  .main__title {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin-bottom: 1.5rem;
  }
  .main__subtitle-container--author {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .main__views-likes-container {
    border: none;
  }
  .main__views-container--number {
    align-self: center;
  }
  .main__likes-container--number {
    align-self: center;
  }
  .main__subtitle-views-likes-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e1e1e1;
  }
  .main__description-container {
    margin-top: 2.5rem;
  }
  .main__description-container--text {
    word-wrap: break-word;
    width: 68%;
  }
}
/* tablet-styling-end */
/* desktop-styling-start */
@media only screen and (min-width: 1440px) {
  .main {
    margin: 3rem 0px 4rem 11.25rem;
  }
  .main__main-container {
    width: 712px;
  }
  .main__views-likes-container {
    border: none;
    padding-right: 2rem;
  }
}
/* mobile-styling-start */
.comment {
  background-color: #ffffff;
  margin: 2.5rem 1rem 0 1rem;
}
.comment__title {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 0 32px 0;
}
.comment__image {
  background-image: url("../../assets/Images/Mohan-muruge.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  margin: 1.5rem 1rem 0 0;
}
.comment__name-container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e1e1e1;
}
.comment__input-container {
  display: flex;
  flex-direction: column;
}
.comment__input-container--text {
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #afafaf;
  margin: 0 0 0.2rem 0;
}
.comment__text-container {
  font-size: 0.8125rem;
  border: 1px solid #afafaf;
  border-radius: 0.25rem;
  width: 14rem;
  background-color: #fafafa;
  border-color: #afafaf;
  resize: none;
}
.comment__text-container:focus {
  border: 2px solid #0095ff;
  outline-width: 0;
}
.comment__text-container--one {
  margin: 0 0 1rem 0;
  height: 6rem;
  padding: 0.625rem;
}
.comment__button {
  background-color: #0095ff;
  border-style: none;
  height: 2.5rem;
  border-radius: 0.25rem;
  color: #ffffff;
  text-align: center;
  width: 14rem;
  margin: 0 0 1.5rem 0;
  outline-width: 0;
  padding: 0;
}
.comment__button:hover {
  background-color: #004892;
}
.comment__default {
  border-bottom: 1px solid #e1e1e1;
}
.comment__header {
  display: flex;
  justify-content: space-between;
}
.comment__header--image-one {
  height: 3rem;
  width: 3rem;
  background-color: #e1e1e1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
  border-radius: 2rem;
  margin-top: 1.5rem;
}
.comment__header--name {
  color: #323232;
  font-size: 0.8125rem;
  padding: 1.75rem 0 0 1rem;
  margin: 0;
}
.comment__header--date {
  color: #afafaf;
  font-size: 0.8125rem;
  margin: 0;
  padding: 1.75rem 0 0 0;
}
.comment__text-container-default {
  display: flex;
}
.comment__text-container-default--comment {
  word-wrap: break-word;
  width: 96%;
  color: #323232;
  font-size: 0.8125rem;
  margin: 0;
  padding: 1rem 0 1.5rem 1rem;
}

/* mobile-styling-end */
/* tablet-styling-start */
@media only screen and (min-width: 768px) {
  .comment {
    background-color: #ffffff;
    margin: 4rem 1.5rem 0 1.5rem;
  }
  .comment__title {
    margin: 0 0 2rem 0;
  }
  .comment__image {
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    margin: 1.7rem 1.25rem 0 0;
  }
  .comment__name-container {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 1.5rem;
  }
  .comment__input-container {
    display: flex;
    flex-direction: row;
  }
  .comment__input-container--text {
    color: #afafaf;
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin: 0 0 0.5rem 0;
  }
  .comment__input-text-container {
    display: flex;
    flex-direction: column;
  }
  .comment__text-container {
    font-size: 1rem;
    border: 1px solid #323232;
    border-radius: 0.25rem;
    width: 27.5rem;
    background-color: #fafafa;
    border-color: #afafaf;
    resize: none;
  }
  .comment__text-container:focus {
    border: 2px solid #0095ff;
    outline-width: 0;
  }
  .comment__text-container--one {
    margin: 0;
    height: 3rem;
    padding: 0.625rem 1rem 0 1rem;
  }
  .comment__button-container {
    align-self: flex-end;
    margin: 0 2.5rem 0 1rem;
  }
  .comment__button {
    font-size: 1rem;
    background-color: #0095ff;
    border-style: none;
    height: 3rem;
    border-radius: 0.25rem;
    color: #ffffff;
    text-align: center;
    width: 10rem;
    margin: 0;
    outline-width: 0;
    padding: 0;
    align-self: flex-end;
  }
  .comment__button:hover {
    background-color: #004892;
  }
  .comment__default-comment {
    display: flex;
    flex-direction: column;
  }
  .comment__header {
    position: relative;
    display: flex;
    justify-content: flex-start;
  }
  .comment__header--image-one {
    position: absolute;
    height: 3rem;
    width: 3rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2rem;
    margin-top: 1.5rem;
  }
  .comment__header--name {
    color: #323232;
    font-size: 1rem;
    padding: 1.75rem 1rem 0 3.9375rem;
    margin: 0;
  }
  .comment__header--date {
    color: #afafaf;
    font-size: 1rem;
    margin: 0;
    padding: 1.75rem 0 0 0;
  }
  .comment__text-container-default {
    display: flex;
    border-bottom: 1px solid #e1e1e1;
  }
  .comment__text-container-default--comment {
    color: #323232;
    width: 42rem;
    font-size: 0.875rem;
    margin: 0;
    padding: 1rem 0 1.5rem 4rem;
  }
}
/* tablet-styling-end */
/* desktop-styling-start */
@media only screen and (min-width: 1440px) {
  .comment {
    width: 712px;
    background-color: #ffffff;
    margin: 4rem 0px 1.875rem 11.25rem;
  }
  .comment__title {
    margin: 0 0 2rem 0;
  }
  .comment__image {
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    margin: 1.7rem 1.25rem 0 0;
  }
  .comment__name-container {
    display: flex;
    justify-content: flex-start;
  }
  .comment__input-container {
    display: flex;
  }
  .comment__input-container--text {
    color: #afafaf;
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin: 0 0 0.5rem 0;
  }
  .comment__input-text-container {
    display: flex;
    flex-direction: column;
  }
  .comment__text-container {
    font-size: 0.8125rem;
    border: 1px solid #afafaf;
    border-radius: 0.25rem;
    width: 436px;
    background-color: #fafafa;
    border-color: #afafaf;
    resize: none;
  }
  .comment__text-container:focus {
    border: 1px solid #0095ff;
    outline-width: 0;
  }
  .comment__text-container--one {
    margin: 0;
    height: 3rem;
    padding: 0.625rem 1rem 0 1rem;
  }
  .comment__button-container {
    align-self: flex-end;
    margin: 0 0 0 1rem;
  }
  .comment__button {
    font-size: 1rem;
    background-color: #0095ff;
    border-style: none;
    height: 3rem;
    border-radius: 0.25rem;
    color: #ffffff;
    text-align: center;
    width: 10rem;
    outline-width: 0;
    padding: 0;
    align-self: flex-end;
  }
  .comment__button:hover {
    background-color: #004892;
  }
}
/* desktop-styling-end */
/* mobile-styling-start */
.sidevideo {
  margin: 2.5rem 1rem 1.5rem 1rem;
  /* tablet-styling-start */
  /* tablet-styling-end */
  /* desktop-styling-start */
}
.sidevideo__bigboi {
  text-decoration: none;
}
.sidevideo__title {
  font-family: "Avenir";
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #afafaf;
  margin: 0 0 2.5rem 0;
}
.sidevideo__template-container {
  display: flex;
  margin-bottom: 1.5rem;
}
.sidevideo__image {
  width: 120px;
  height: 70px;
  margin-right: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.3125rem;
}
.sidevideo__title-video {
  font-family: "Avenir";
  font-weight: normal;
  overflow: hidden;
  width: 47.5vw;
  max-width: 11rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #323232;
  margin: 0 0 1rem 0;
}
.sidevideo__channel {
  font-family: "Avenir";
  color: #323232;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .sidevideo .sidevideo {
    margin: 2.5rem 1.5rem 1.5rem 1.5rem;
  }
  .sidevideo .sidevideo__title-video {
    font-family: "Avenir";
    font-weight: normal;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    word-break: break-word;
    width: 164px;
    margin: 0;
  }
  .sidevideo .sidevideo__channel {
    font-family: "Avenir";
    font-weight: normal;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    margin: 0;
  }
}
@media only screen and (min-width: 1440px) {
  .sidevideo .sidevideo {
    padding: 2.5rem 11.25rem 0px 1.5rem;
    margin: 0;
  }
  .sidevideo .sidevideo__title-video {
    font-family: "Avenir";
    font-weight: normal;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    word-break: break-word;
    width: 10.4375rem;
    margin: 0;
  }
  .sidevideo .sidevideo__channel {
    font-family: "Avenir";
    font-weight: normal;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    margin: 0;
  }
}

/* desktop-styling-end */
@media only screen and (min-width: 1440px) {
  .all-components__main {
    display: flex;
  }
  .all-components__two {
    border-left: 1px solid #e1e1e1;
  }
}
.loading__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: donut-spin 1.2s linear infinite;
}/*# sourceMappingURL=global.css.map */